{% extends "base.twig" %}
{% block content %}
<div class="columns">
    <div class="column col-9 col-md-12">
            <div class="toast" style="background-color: rgba(255, 255, 255, 0.7); border: 0; color: black;margin-bottom: 0.5em;font-size:0.8em">
                Wir sind wieder da :)
            </div>
            {% for day in days if eventsByDate[day]|length > 0 %} 
                {% include "list-day.twig" %}
            {% endfor %}
            <div class="header columns">
                <div class="column col-9"></div>
            </div>
    </div>
    <div class="column col-3 col-md-12">
        {% include "infobox.twig" %}
    </div>
</div>
        
{% endblock %}


{% block copyright %}
    <div id="image-copyright">photo by <a href="https://leipzig.town/@sven">@sven@leipzig.town</a></div>
{% endblock %}
