{% for e in upcomingLinkedDates %}
    <div class="columns entry">
        <div class="col-2 col-xs-4 col-md-3 content-side">
            <div style="text-align:right" class="px-2 py-1">
                <div><b>{{ e.start|date('d.m.') }} </b></div>
                <div style="font-size:80%">{{ e.start|dayName }}</div>
                <div style="font-size:80%">{{ e.start|time }} Uhr</div>
            </div>
        </div>
        <div class="col-10 col-xs-8 col-md-9 content">
            <h4 class="text-ellipsis">
                <a href="/{{ e.path }}">{{ e.title }}</a>
            </h4>
            {% if e.teaser and e.teaser != event.teaser %}
                <p class="text-ellipsis teaser">
                    {{ e.teaser }}
                </p>
            {% endif %}
            {% if e.locationName or e.address %}
                <div class="location">
                    <i class="fa fa-map-marker"></i>
                    {% if e.locationName and e.locationName != e.groups[0].name and e.locationName != e.address %}
                        {{ e.locationName }},
                    {% endif %}
                    <span>{{ e.address|tidyUpAddress }}</span>    
                </div>
            {% endif %}
            {% if not loop.last %} <div class="seperator"></div> {% endif %}
        </div>
    </div>
{% endfor %}