{% extends "base.twig" %}
{% block content %}
<div class="columns">
    <div class="column col-9 col-md-12">
        <div class="header columns">
            <div class="col-1"></div>
            <div class="col-11">
                <strong>über trichter.</strong>
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2">
                <p><b>Der <i>trichter</i> ist ein unkommerzieller Online-Veranstaltungskalender für Leipzig und Umgebung.</b> </p>
                <p>Ziel ist es, den Menschen <b>eine freie Platform der Vernetzung</b> in die Hand zu geben und damit die derzeit bestehende Abhängigkeit zu Facebook abzubauen. </p>
                <p>Es ist stark nach dem Vorbild <a href="https://tacker.fr/">tacker.fr</a> aus Freiburg entstanden, hat aber darüber hinaus keine Verbindung.</p>
                <p>Die <b>Inhalte werden</b> teilweise <b>maschinell</b> aus öffentlich zugänglichen Quellen zusammen gesammelt, wodurch sich Fehler ergeben können – gerade bei nachträglichen Änderungen/Absagen. Prüft also gern die Infomationen gegen, bevor du bei einer abgesagten Veranstaltung auftauchst! :)</p>

                <h5>Kriterien für Veranstaltungen</h5>
                <ul>
                    <li><b>tauschlogikfrei</b>, d.h. es sollte auch möglich sein die Veranstaltung "geldfrei" (genauergenommen: ohne Gegenleistung) zu besuchen. Eine Spendenempfehlung ist vollkommen okay.</li>
                    <li>frei von Sexismus, Rassismus, Antisemitismus, Heteronormativität und jeglicher anderer Form der Diskriminierung.</li>
                    <li>keine verschwörungsideologischen oder pseudowissenschaftlichen Themen.</li>
                    <li>ohne Drogenkonsum als primäres Ziel</li>
                </ul>
            </div>
        </div>
        <div class="header columns mt-1">
            <div class="col-1"></div>
            <div class="col-11">
                tauschlogik-was?.
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2" style="font-style:italic; font-size:80%;text-align: justify;text-justify: inter-word;">
                <p class="m-0">
„Ok, Zwiebeln schneiden, Zehn Euro, Kartoffeln schneiden 3, für das Spielen kriegst du kein Geld Annika, mach mal deine Mathehausaufgaben, dann kriegst du immerhin gute Noten“.
Andrea sitzt an unserem großen Küchentisch, sie ist etwas gestresst, versucht aber die Fassung zu bewahren und die Organisation des Kochens im Griff zu haben. Schließlich wird sie dafür bezahlt. 50 Euro pro Stunde.
Alle andern sitzen um den Tisch, es herrscht kalte Stille. Ich kaue auf meiner Lippe rum und hoffe, dass ich nicht die Zwiebeln schneiden muss. Ich muss immer total heulen, Wie schafft Ingo das nur immer ohne Tränende Augen?</p>
<p class="m-0">
Wir alle bewerben uns um die verschiedenen Tätigkeiten, ich darf zum Glück heute am Herd stehen (13 Euro kriege ich dafür). Dann werden noch Verträge unterschrieben, Versicherungen, falls sich jemand in die Hand schneidet, dabei haben alle schon total Hunger.
Der Zeitplan ist knapp, jeder Arbeitsschritt genauenstens ausgerechnet um möglichst effizient die Suppe fertig zu stellen. Wir fangen endlich an zu arbeiten, es ist immer noch ziemlich still, wir wissen nicht recht über was wir reden sollen und sprechen dann über Hygiene, Verdauung und das Wetter.
Eigentlich koche ich gerne, gerade bin ich aber etwas gestresst, Andrea guckt mir über die Schulter, während ich die Suppe umrühre.
Ingo und Maike streiten sich flüsternd: „Gestern habe ich dich 10 Mal geküsst, das macht 408 Euro“ murmelt Maike wütend „Pah, deine Küsse haben einen viel geringeren Marktwert, die Nachfrage ist doch enorm gesunken, seitdem du so fett geworden bist! Außerdem habe ich dich auch 10 Mal geküsst! Und mein Marktwert ist viel höher!“ Ich versuche wegzuhören, mein Magen knurrt.</p>

<p class="m-0">
Dann endlich kriegen wir unser Geld ausgeteilt, Andrea kriegt am meisten, danach ich, Marie, die geputzt hat kriegt fast nichts, Annika natürlich auch nicht. Dann kaufen wir uns von dem Geld unsere Suppe. Ich bekomme für mein Geld 5 Teller, Marie eine Kartoffel. Sie blickt traurig auf ihren Teller, aber ich will ihr auch nichts abgeben, sie hat schließlich viel weniger geleistet als ich und ich habe ja auch extra diese Ausbildung gemacht, in der ich gelernt habe, wie die Suppe am besten umgerührt wird!
Am Ende wird ein Drittel der Suppe weggeschmissen, weil die mit viel Geld nicht mehr essen können.
Ein bisschen gemein ist das schon, denke ich, vor allem wenn ich am Jürgen denke, der am meisten Geld bekommt, nur weil die Küche sein Eigentum ist. Aber ich sage nichts, es ist schließlich mein Beruf und wie sollte das mit dem Kochen auch anders funktionieren?
                </p>
            </div>
        </div>

        <a name="contact"></a>
        <div class="header columns mt-1">
            <div class="col-1"></div>
            <div class="col-11">
                <strong>kontakt.</strong>
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2">
                <p>
                    Meldet euch gerne bei allen Belangen hier: <a href="mailto:kontakt@trichter.cc">kontakt@trichter.cc</a>
                    <br />
                    PGP-Schlüssel für E-Mail-Verschlüsselung: <a href="/0x24AFED3A3F98D509.asc" style="font-family:monospace"><i class="fa fa-key"></i>  24AF ED3A 3F98 D509</a>
                </p>
            </div>
        </div>
    </div>
    <div class="column col-3 col-md-12">
        {% include "infobox.twig" %}
    </div>
</div>
        
{% endblock %}
