

<div class="infobox">
    <div class="content">
        <a href="{{ browseLink }}">stöbern</a>.</br> 
        <a href="/gruppen.html">gruppen</a>.</br> 
        <a href="/info.html">über trichter</a>.</br>
        {# <a href="/panel/">eintragen</a>. </br> #}
        <a href="https://gitlab.com/trichter">open source</a>. </br>
        {# <a href="#impressum">impressum</a>. </br> #}
        <a href="/info.html#contact">kontakt</a>.</br>
        <small>made with <span style="color: #dd3333">♥</span> </small>
    </div>
</div>
{% if domain %}
{% set icsLink = "https://" ~ domain ~ "/events.ics" %}
{% set webcalLink = "webcal://" ~ domain ~ "/events.ics" %}
<div class="infobox">
    <div class="content">
        <h4>abonnieren</h4>
        <a href="{{ icsLink }}">.ics-Datei</a>.<br/>
        <a href="{{ webcalLink }}">iCalendar</a>.<br/>
        <a href="https://www.google.com/calendar/render?cid={{ webcalLink|url_encode }}">Google Kalender</a>.<br/>
        <a href="https://outlook.office.com/owa?path=%2Fcalendar%2Faction%2Fcompose&rru=addsubscription&url={{ webcalLink|url_encode }}&name=trichter.cc">Office 365</a>.<br/>
        <a href="https://outlook.live.com/owa?path=%2Fcalendar%2Faction%2Fcompose&rru=addsubscription&url={{ webcalLink|url_encode }}&name=trichter.cc">Office Live</a>.<br/>
    </div>
</div>
{% endif %}