.description {
    font-size: 0.8em;
    hyphens: auto;
    word-break: break-word;
}

.eventimage {
    height: 15em;
    background-size: cover;
    background-position-y: center;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    border-top: 0.2rem solid black;
    background-color: grey;
}

.content-side {
    background-color:  rgba(255,255,255,0.7);
    color: #555;
}

.quadratic {
    background-color: #eee;
    width: 80%;
    max-width: 5em;

    background-size: cover;
    margin: 2%;
    float: left;
}

.quadratic:before
{
    content: "";
    display: block;
    padding-top: 100%;

}